In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

<>:7: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\F'
C:\Users\Admin\AppData\Local\Temp\ipykernel_17892\3337672500.py:7: SyntaxWarning: invalid escape sequence '\F'
  df = pd.read_csv('C:\\Users\\Admin\\Documents\\Python Scripts\\ds_learning\\ds_second_phase\Files\\weekly-closings-of-the-dowjones-.csv', names=["week", "count"], header=0)

## 1

In [ ]:
df = pd.read_csv('C:\\Users\\Admin\\Documents\\Python Scripts\\ds_learning\\ds_second_phase\Files\\weekly-closings-of-the-dowjones-.csv', names=["week", "count"], header=0)

In [ ]:
def iso_to_date(isoweek_str):
    try:
        year, week = isoweek_str.split('-W')
        return datetime.fromisocalendar(int(year), int(week), 1) 
    except Exception as e:
        print(f"Ошибка для {isoweek_str}: {e}")
        return pd.NaT
    
df['week'] = df['week'].apply(iso_to_date)
df = df.dropna(subset=['week'])

In [24]:
df = df.sort_values('week').set_index('week')

In [25]:
df

             count
week
1971-07-05  890.19
1971-07-12  901.80
1971-07-19  888.51
1971-07-26  887.78
1971-08-02  858.43
...            ...
1974-07-08  791.77
1974-07-15  787.23
1974-07-22  787.94
1974-07-29  784.57
1974-08-05  752.58

[162 rows x 1 columns]

In [34]:
from statsmodels.tsa.stattools import adfuller

# result = adfuller(df['count'])
# print("ADF Statistic:", result[0])
# print("p-value:", result[1])

def check_stationarity(series):
    result = adfuller(series.dropna())
    print('ADF Statistic:', result[0])
    print('p-value:', result[1])
    print('Critical Values:', result[4])
    if result[1] < 0.05:
        print("Ряд стационарен")
    else:
        print("Ряд нестационарен")

In [35]:
check_stationarity(df['count'])

ADF Statistic: -1.3146254984911718
p-value: 0.6224548515589717
Critical Values: {'1%': -3.471633386932248, '5%': -2.8796651107461972, '10%': -2.576433647235832}
Ряд нестационарен

In [27]:
import numpy as np

df['log_count'] = np.log(df['count'])
df['diff_log_count'] = df['log_count'].diff()

result = adfuller(df['diff_log_count'].dropna())
print("ADF после преобразования:", result[0])
print("p-value:", result[1])

ADF после преобразования: -12.995820716080097
p-value: 2.7516091322913837e-24

## 2

In [29]:
df1 = pd.read_csv('ds_learning\\ds_second_phase\\Files\\monthly-sales-of-company-x-jan-6.csv', names=["Month","Count"], header=0)

In [31]:
df1["date"] = pd.to_datetime(df1["Month"].str.replace('"', ''), format='%Y-%m')

df1.set_index("date", inplace=True)
df1.drop("Month", axis=1, inplace=True)

In [36]:
check_stationarity(df1["Count"])

ADF Statistic: 0.6547150829524443
p-value: 0.9888894205170052
Critical Values: {'1%': -3.53692771987915, '5%': -2.907887369384766, '10%': -2.591493291015625}
Ряд нестационарен

In [38]:
df1['log_count'] = np.log(df1['Count'])
df1['diff_log_count'] = df1['log_count'].diff()

check_stationarity(df1['diff_log_count'])

ADF Statistic: -3.1356438010066268
p-value: 0.024025392839875787
Critical Values: {'1%': -3.53692771987915, '5%': -2.907887369384766, '10%': -2.591493291015625}
Ряд стационарен

## 3

In [55]:
df2 = pd.read_csv('ds_learning\\ds_second_phase\\Files\\monthly-boston-armed-robberies-j.csv', names=["Month","Count"], header=0)

In [56]:
df2["date"] = pd.to_datetime(df2["Month"].str.replace('"', ''), format='%Y-%m')

df2.set_index("date", inplace=True)
df2.drop("Month", axis=1, inplace=True)

In [57]:
check_stationarity(df2["Count"])

ADF Statistic: 1.0011021402457787
p-value: 0.994277563805723
Critical Values: {'1%': -3.4936021509366793, '5%': -2.8892174239808703, '10%': -2.58153320754717}
Ряд нестационарен

In [58]:
df2['log_count'] = np.log(df2['Count'])
df2['diff_log_count'] = df2['log_count'].diff()

check_stationarity(df2['diff_log_count'])

ADF Statistic: -7.601792127269039
p-value: 2.3786024417438203e-11
Critical Values: {'1%': -3.489589552580676, '5%': -2.887477210140433, '10%': -2.580604145195395}
Ряд стационарен

## 4

In [68]:
df3 = pd.read_csv('ds_learning\\ds_second_phase\\Files\\mean-monthly-air-temperature-deg.csv', names=["Month","Deg"], header=0)

In [69]:
df3["date"] = pd.to_datetime(df3["Month"].str.replace('"', ''), format='%Y-%m')

df3.set_index("date", inplace=True)
df3.drop("Month", axis=1, inplace=True)

In [70]:
check_stationarity(df3["Deg"])

ADF Statistic: -3.2554924030863353
p-value: 0.016989030222608687
Critical Values: {'1%': -3.4597521044060353, '5%': -2.874472927517147, '10%': -2.5736628197530864}
Ряд стационарен

## 5

In [71]:
df4 = pd.read_csv('ds_learning\\ds_second_phase\\Files\\international-airline-passengers.csv', names=["Month","Count"], header=0)

In [72]:
df4["date"] = pd.to_datetime(df4["Month"].str.replace('"', ''), format='%Y-%m')

df4.set_index("date", inplace=True)
df4.drop("Month", axis=1, inplace=True)

In [73]:
check_stationarity(df4["Count"])

ADF Statistic: 0.8153688792060482
p-value: 0.991880243437641
Critical Values: {'1%': -3.4816817173418295, '5%': -2.8840418343195267, '10%': -2.578770059171598}
Ряд нестационарен

In [74]:
df4['log_count'] = np.log(df4['Count'])
df4['diff_log_count'] = df4['log_count'].diff()

check_stationarity(df4['diff_log_count'])

ADF Statistic: -2.717130598388133
p-value: 0.07112054815085875
Critical Values: {'1%': -3.4825006939887997, '5%': -2.884397984161377, '10%': -2.578960197753906}
Ряд нестационарен

In [75]:
df4["diff_1"] = df4["Count"].diff(1)
check_stationarity(df4["diff_1"].dropna())

ADF Statistic: -2.8292668241699994
p-value: 0.0542132902838255
Critical Values: {'1%': -3.4816817173418295, '5%': -2.8840418343195267, '10%': -2.578770059171598}
Ряд нестационарен

In [76]:
df4["seasonal_diff"] = df4["Count"].diff(12)
check_stationarity(df4["seasonal_diff"].dropna())

ADF Statistic: -3.383020726492481
p-value: 0.011551493085514954
Critical Values: {'1%': -3.4816817173418295, '5%': -2.8840418343195267, '10%': -2.578770059171598}
Ряд стационарен

### 6

In [77]:
df5 = pd.read_csv('ds_learning\\ds_second_phase\\Files\\daily-total-female-births-in-cal.csv', names=["Date","Count"], header=0)

In [78]:
check_stationarity(df5["Count"])

ADF Statistic: -4.808291253559763
p-value: 5.243412990149865e-05
Critical Values: {'1%': -3.448748905151901, '5%': -2.8696473721448728, '10%': -2.5710891239349585}
Ряд стационарен